<nav class="site-nav">
    <div class="wrap nav-inner">
      <a class="brand" href="/">
        <img class="brand-logo" src="/assets/img/redEyeLogo.png" alt="Red Eye Films Logo">
        <span>
          <span class="brand-title">Red Eye Films</span>
          <span class="brand-sub">Design • Video • Audio</span>
        </span>
      </a>
  
      <ul class="nav-links">
        <li><a data-nav href="/">Home</a></li>
        <li><a data-nav href="/work/">Work</a></li>
        <li><a data-nav href="/about/">About</a></li>
        <li><a data-nav href="/store/">Store</a></li>
        <li><a data-nav href="/contact/">Contact</a></li>
      </ul>
    </div>
  </nav>
  
  